#header {
  background-color: var(--color-white);

  position: fixed;
  top: 0;
  z-index: 100;

  height: 4.5rem;
  width: 100%;

  box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.2);

  & #logo {
    width: 3rem;
    height: 3rem;

    & img {
      width: 100%;
      height: 100%;

      border-radius: 0.25rem;
    }
  }

  & #nav {
    & ul {
      gap: 2rem;

      & a {
        font-size: var(--fs-nav);
        font-family: var(--ff-Poppins);
        color: var(--color-blue);
        font-weight: var(--fw-sb);

        transition: all 0.3s ease;

        &:hover {
          color: #001133;
          text-decoration: underline;
        }
      }
    }
  }
}

@media (width < 750px) {
  #header {
    & #menuToggle {
      width: 2rem;
      height: 2rem;
    }

    & .container {
      position: relative;
    }

    & #nav {
      position: absolute;
      top: -17rem;
      right: 0;

      padding: 1rem;

      transition: all 0.5s cubic-bezier(0.65, 0.07, 0.41, 1.44);
      & ul {
        flex-direction: column;
      }

      &.open {
        top: 4.75rem;
      }
    }
  }
}
