.mobile-only {
  display: none;
}

.flex {
  display: flex;
}

.itens-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.grid {
  display: grid;
}

.gap-0\.5 {
  gap: 0.5rem;
}

.gap-1 {
  gap: 1rem;
}

.gap-1\.5 {
  gap: 1.5rem;
}

.gap-2 {
  gap: 2rem;
}

.padY-1 {
  padding-block: 1rem;
}

.container {
  width: 70%;
  height: 100%;
  margin-inline: auto;
}

.toggle-hidden {
  display: none;
}

@media (width < 750px) {
  .mobile-only {
    display: initial;
  }
}
